<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
      <title>FreeSpirit Music Festival | Artists</title>
      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">      <!-- FULLPAGE SCROLL  -->
      <!-- FULLPAGE SCROLL  -->
      <link rel="stylesheet" type="text/css" href="assets/css/jquery.fullpage.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
      <!-- CUSTOM CSS  -->
      <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/media.css" />
   </head>

   {{{ body }}}

    <!-- END MAIN DIV -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>      
      <script src="assets/js/scraper.js"></script>
   </body>
</html>