   <body class="normal-scroll">
      <!-- START CONTENT -->
      <div class="main"  id="fullpage" >
         <!-- START HOME SECTION -->
         <section class="l-screen single-page-header animated  "  >
            <div class="container"  >
               <!-- START HOME CONTENT -->
               <div id="container"  >
                  
                  <header class="single-page-title top-bar"   >
                     <h2 class="top-bar__headline">ARTISTS</h2>
                  </header>
               </div>
               <!--END HOME CONTENT-->
            </div>
         </section>
         <!--END HOME SECTION -->
         <section class="l-screen  artist-section animated">
            <div class="container-fluid" id="artist_all_container">
               <div>
                  <div class="row vertical-center">
                     <!-- CLOSE BUTTON-->
                     <span id="artist_back"><a href="#artist-section/0" class="artist-cd-close" title="close"></a></span>
                     <div class="artist_content">
                        <div class="artist_grid"  >
                           <!-- START ARTIST -->
                           <div class="m-artists-container l-slide">
                              <div class="project-top" ></div>
                              <div class="container">
                                 <!-- START ARTIST -->
                                 <figure class="effect-artist">
                                    <img src="images/artist/artist1.jpg" alt="not here" />
                                    <figcaption>
                                       <!-- NAME -->
                                       <h2>GIYLIAN </h2>
                                       <!-- DETAILS -->
                                       <p>Bass Trance King 
                                       </p>
                                       <!--VIEW MORE LINK -->
                                       <a href="#artist-section/artist1"><span class="artist-name">GIYLIAN</span> </a>
                                    </figcaption>
                                 </figure>
                                 <!-- END ARTIST -->
                                 <!-- START ARTIST -->
                                 <figure class="effect-artist">
                                    <img src="images/artist/artist2.jpg" alt="" />
                                    <figcaption>
                                       <!-- NAME -->
                                       <h2>TIMOTHY</h2>
                                       <!-- DETAILS -->
                                       <p>Off Break Spinner
                                       </p>
                                       <!--VIEW MORE LINK -->
                                       <a href="#artist-section/artist2"><span class="artist-name">TIMOTHY</span>  </a>
                                    </figcaption>
                                 </figure>
                                 <!-- END ARTIST -->
                                 <!--START ARTIST DESCRIPTION TEXT -->
                                 <figure class="effect-artist">
                                    <img src="images/artist/artist3.jpg" alt="" />
                                    <figcaption>
                                       <!-- NAME -->
                                       <h2>HALLWAK</h2>
                                       <!-- DETAILS -->
                                       <p>Tune in Mixer
                                       </p>
                                       <!--VIEW MORE LINK -->
                                       <a href="#artist-section/artist3"><span class="artist-name">HALLWAK</span> </a>
                                    </figcaption>
                                 </figure>
                                 <!--END ARTIST DESCRIPTION TEXT -->
                                 <!-- START ARTIST -->
                                 <figure class="effect-artist">
                                    <img src="images/artist/artist4.jpg" id="artist_5" alt="" />
                                    <figcaption>
                                       <!-- NAME -->
                                       <h2>SAKERZ</h2>
                                       <!-- DETAILS -->
                                       <p>The solid Drift
                                       </p>
                                       <!--VIEW MORE LINK -->
                                       <a href="#artist-section/artist4"><span class="artist-name">SAKERZ</span>  </a>
                                    </figcaption>
                                 </figure>
                                 <!-- END ARTIST -->
                                 <!-- START ARTIST -->
                                 <figure class="effect-artist">
                                    <img src="images/artist/artist5.jpg" id="artist_6" alt="" />
                                    <figcaption>
                                       <!-- NAME -->
                                       <h2>FALKEN</h2>
                                       <!-- DETAILS -->
                                       <p>First Post Triper
                                       </p>
                                       <!--VIEW MORE LINK -->
                                       <a href="#artist-section/artist5"><span class="artist-name">FALKEN</span>  </a>
                                    </figcaption>
                                 </figure>
                                 <!-- END ARTIST -->
                                 <!--START ARTIST DESCRIPTION TEXT -->
                                 <figure class="effect-artist">
                                    <img src="images/artist/artist6.jpg" alt="" />
                                    <figcaption>
                                       <!-- NAME -->
                                       <h2>XAKA</h2>
                                       <!-- DETAILS -->
                                       <p>Vivid Game Puller
                                       </p>
                                       <!--VIEW MORE LINK -->
                                       <a href="#artist-section/artist6"><span class="artist-name">XAKA</span> </a>
                                    </figcaption>
                                 </figure>
                                 <!--END ARTIST DESCRIPTION TEXT -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- START ARTIST SLIDER CONTENT-->
               <div class="l-slide  artist-slide artist1" data-anchor="artist1">
                  <ul id="artist-profile-1" class="scene unselectable artist-profile" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" data-mode="cursor">
                     <li   class="layer" data-depth="0.10">
                        <div id="artist-1" class="artist-image"></div>
                     </li>
                     <li>
                        <div class="bg_pattern11"></div>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <h2 class="artist-title">GIYLIAN</h2>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <p class="title_content2"><span>Evaria Stage
                           22:00 PM - 00:00 AM</span>
                           <br>
                           <span>EVERY DAY IS A NEW BEGINING<br>
                           TAKE A DEEP BREATH<br> SMILE AND START AGAIN.</span>
                        </p>
                        <!-- SOCIAL LINKS -->
                        <div class="artist-slide-social">
                           <a target="_blank" href="https://soundcloud.com"><i class="fa fa-soundcloud"></i></a>
                           <a target="_blank" href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                           <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                           <a target="_blank" href="https://vimeo.com"><i class="fa fa-vimeo"></i></a>
                           <a target="_blank" href="https://www.spotify.com"><i class="fa fa-spotify"></i></a>
                        </div>
                     </li>
                  </ul>
                  <p class="artist-slide-prev"> PREV
                  </p>
                  <p class="artist-slide-next"> NEXT
                  </p>
               </div>
               <!-- END ARTIST SLIDER CONTENT-->
               <!-- START ARTIST SLIDER CONTENT-->
               <div class="l-slide artist-slide artist2" data-anchor="artist2">
                  <ul id="artist-profile-2" class="scene unselectable artist-profile" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" data-mode="cursor">
                     <li   class="layer" data-depth="0.10">
                        <div id="artist-2"  class="artist-image"></div>
                     </li>
                     <li>
                        <div class="bg_pattern11"></div>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <h2 class="artist-title">TIMOTHY</h2>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <p class="title_content2"><span>Barn Stage
                           20:30 PM - 22:00 PM</span>
                           <br>
                           <span>LET YOUR SMILE<br>
                           CHANGE THE WORLD<br> DONT LET THE WORLD CHNAGE YOUR SMILE.</span>
                        </p>
                        <!-- SOCIAL LINKS -->
                        <div class="artist-slide-social">
                           <a target="_blank" href="https://soundcloud.com"><i class="fa fa-soundcloud"></i></a>
                           <a target="_blank" href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                           <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                           <a target="_blank" href="https://vimeo.com"><i class="fa fa-vimeo"></i></a>
                           <a target="_blank" href="https://www.spotify.com"><i class="fa fa-spotify"></i></a>
                        </div>
                     </li>
                  </ul>
                  <p class="artist-slide-next"> NEXT
                  </p>
                  <p class="artist-slide-prev"> PREV
                  </p>
               </div>
               <!-- START ARTIST SLIDER CONTENT-->
               <div class="l-slide  artist-slide artist3" data-anchor="artist3">
                  <ul id="artist-profile-3" class="scene unselectable artist-profile" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" data-mode="cursor">
                     <li  class="layer" data-depth="0.10">
                        <div id="artist-3"  class="artist-image"></div>
                     </li>
                     <li>
                        <div class="bg_pattern11"></div>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <h2 class="artist-title">HALLWAK</h2>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <p class="title_content2"><span> Yuka Stage
                           12:00 PM - 14:00 PM</span>
                           <br>
                           <span>PUSH HARDER THAN YESTERDAY<br>
                           IF YOU WANT A<br>DIFFERENT TOMMOROW.</span>
                        </p>
                        <!-- SOCIAL LINKS -->
                        <div class="artist-slide-social">
                           <a target="_blank" href="https://soundcloud.com"><i class="fa fa-soundcloud"></i></a>
                           <a target="_blank" href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                           <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                           <a target="_blank" href="https://vimeo.com"><i class="fa fa-vimeo"></i></a>
                           <a target="_blank" href="https://www.spotify.com"><i class="fa fa-spotify"></i></a>
                        </div>
                     </li>
                  </ul>
                  <p class="artist-slide-next"> NEXT
                  </p>
                  <p class="artist-slide-prev"> PREV
                  </p>
               </div>
               <!-- START ARTIST SLIDER CONTENT-->
               <div class="l-slide  artist-slide artist4" data-anchor="artist4">
                  <ul id="artist-profile-4" class="scene unselectable artist-profile" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" data-mode="cursor">
                     <li  class="layer" data-depth="0.10">
                        <div id="artist-4"  class="artist-image"></div>
                     </li>
                     <li>
                        <div class="bg_pattern11"></div>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <h2 class="artist-title">SAKERZ</h2>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <p class="title_content2"><span>Humburg Stage
                           21:00 PM - 00:00 AM</span>
                           <br>
                           <span>START WHERE YOU ARE<br>
                           USE WHAT YOU HAVE <br> DO WHAT YOU CAN.</span>
                        </p>
                        <!-- SOCIAL LINKS -->
                        <div class="artist-slide-social">
                           <a target="_blank" href="https://soundcloud.com"><i class="fa fa-soundcloud"></i></a>
                           <a target="_blank" href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                           <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                           <a target="_blank" href="https://vimeo.com"><i class="fa fa-vimeo"></i></a>
                           <a target="_blank" href="https://www.spotify.com"><i class="fa fa-spotify"></i></a>
                        </div>
                     </li>
                  </ul>
                  <p class="artist-slide-next"> NEXT
                  </p>
                  <p class="artist-slide-prev"> PREV
                  </p>
               </div>
               <!-- START ARTIST SLIDER CONTENT-->
               <div class="l-slide  artist-slide artist5" data-anchor="artist5">
                  <ul id="artist-profile-5" class="scene unselectable artist-profile" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" data-mode="cursor">
                     <li  class="layer" data-depth="0.10">
                        <div id="artist-5"  class="artist-image"></div>
                     </li>
                     <li>
                        <div class="bg_pattern11"></div>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <h2 class="artist-title">FALKEN</h2>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <p class="title_content2"><span>Mirx Stage
                           16:00 PM - 18:00 PM</span>
                           <br>
                           <span> WHAT COMES EASY<br>
                           WONT LAST WHAT LASTS<br> WONT COME EASY</span>
                        </p>
                        <!-- SOCIAL LINKS -->
                        <div class="artist-slide-social">
                           <a target="_blank" href="https://soundcloud.com"><i class="fa fa-soundcloud"></i></a>
                           <a target="_blank" href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                           <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                           <a target="_blank" href="https://vimeo.com"><i class="fa fa-vimeo"></i></a>
                           <a target="_blank" href="https://www.spotify.com"><i class="fa fa-spotify"></i></a>
                        </div>
                     </li>
                  </ul>
                  <p class="artist-slide-next"> NEXT
                  </p>
                  <p class="artist-slide-prev"> PREV
                  </p>
               </div>
               <!-- START ARTIST SLIDER CONTENT-->
               <div class="l-slide  artist-slide artist6" data-anchor="artist6">
                  <ul id="artist-profile-6" class="scene unselectable artist-profile" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" data-mode="cursor">
                     <li   class="layer" data-depth="0.10">
                        <div id="artist-6"  class="artist-image"></div>
                     </li>
                     <li>
                        <div class="bg_pattern11"></div>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <h2 class="artist-title">XAKA</h2>
                     </li>
                     <li class="layer" data-depth="0.20">
                        <p class="title_content2"><span>Emirte Stage
                           12:00 AM - 14:00 AM</span>
                           <br>
                           <span> YOU ARE ALWAYS <br>
                           ONE DECISSION AWAY <br> FROM A GOOD LIFE</span>
                        </p>
                        <!-- SOCIAL LINKS -->
                        <div class="artist-slide-social">
                           <a target="_blank" href="https://soundcloud.com"><i class="fa fa-soundcloud"></i></a>
                           <a target="_blank" href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                           <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                           <a target="_blank" href="https://vimeo.com"><i class="fa fa-vimeo"></i></a>
                           <a target="_blank" href="https://www.spotify.com"><i class="fa fa-spotify"></i></a>
                        </div>
                     </li>
                  </ul>
                  <p class="artist-slide-next"> NEXT
                  </p>
                  <div class="artist-slide-prev"> PREV
                  </div>
               </div>
               <div class="artist_desc" id="artist-description">
                  <div class="artistbar" >
                     <div class="artist-bar color-1">
                     </div>
                  </div>
                  <div class="artistbar hide-bar"   >
                     <div class="artist-bar color-2">
                     </div>
                  </div>
               </div>
            </div>
         </section>