/*------------- MEDIA QUERIES  ----------------*/

@media screen and (min-width: 1681px) {
  /* Artists */
 .artist_grid figure {
     width: 26%;
 }
 .artist-section .container-fluid {
     min-height: auto;
 }
 .normal-scroll .artist_grid figure {
     width: 450px;
     max-height: none;
 }
 .container {
     width: 1600px;
 }
}
@media screen and (min-width: 1680px) and (max-width: 1681px) {
 .container {
     width: 1400px;
 }
 .normal-scroll .artist_grid figure {
     max-height: none;
     width: 400px;
 }
}
@media screen and (min-width: 1680px) {
 /* general */
 
 body {
     font-size: 18px;
 }
 .top-bar__headline {
     padding-bottom: 50px;
 }
 /*Home */
 
 .home_title {
     top: 25%;
 }
 /* Artist lineup */
 
 .artist_grid figure {
     max-height: 360px;
 }
 .artist_grid figure {
     width: 463px;
 }
 
 /*-- Footer --*/
 
 .footer-text .top-head {
     font-size: 40px;
 }
 .footer-text {
     margin-top: 100px;
     margin-bottom: 0px;
 }
 .footer-box .inner span:nth-child(2) {
     padding-top: 40px;
 }
}

@media screen and (max-width: 1200px) {
 .container {
     padding-bottom: 25px;
 }
 .container-fluid {
     padding-bottom: 25px;
 }
 #fullpage section,
 #fullpage .fp-section,
 #fullpage .fp-slide:not(.artist-slide),
 .fp-table:not(.artist-slide) .fp-tableCell {
     height: auto !important;
 }
 .artist-image {
     top: 0;
     bottom: 0;
 }
 .artist-section .top-bar {
     background: transparent;
 }
 .m-artists-container .container {
     padding-top: 0;
 }
 .artist-section .top-bar {
     height: inherit;
     position: initial;
 }
 #artist_head {
     margin-bottom: 0;
 }
 .vertical-center {
     min-height: auto;
     min-height: auto;
     height: auto;
 }
 .home-section .container-fluid {
     position: static;
    height: 100%;
   height: 100vh;

 }
 .top-bar {
     padding: 25px 0px 40px;
     position: relative;
 }

 /* Artist lineup */
 
 .artist_grid figure h2 {
     display: none;
 }
 .artist-name {} .artist_grid figure figcaption > a span {
     display: block;
 }
 .artist-more {
     font-size: 12px;
     color: rgba(255, 255, 255, 0.85);
 }
 .artist_grid figure {
     padding: 0;
     margin: 10px;
 }
 .artist_grid figure figcaption > a {
     opacity: 1;
     width: 100%;
     height: 55px;
     padding: 15px;
     background-color: rgba(4, 4, 4, 0.45);
     bottom: 14px;
     position: absolute;
     bottom: 0;
     top: auto;
     font-size: 16px;
     margin: auto;
     left: 0;
     right: 0;
     color: rgb(255, 255, 255);
     text-indent: 0px;
     text-decoration: none;
     text-transform: none;
 }
 figure.effect-artist p {
     display: none;
 }
 figure.effect-artist:hover {
     background: rgb(222, 129, 114);
 }
 figure.effect-artist:hover img {
     -webkit-filter: grayscale(0%);
     filter: grayscale(0%);
     opacity: 1;
 }
 .artist_grid figure img {
     cursor: auto;
 }
 section,
 .gallery-section .fp-tableCell,
 .askus-section .fp-tableCell {
     height: auto !important;
 }
 
 /* Artist Lineup */
 
 .artist_grid figure {
     transform: rotateY(10deg) translate(10px, 0px);
     -webkit-transition: .5s transform .6s;
     -moz-transition: .5s transform .6s;
     -o-transition: .5s transform .6s;
     transition: .3s transform 0s;
 }
 .artist_grid {
     opacity: 0;
 }
 
 
 /* Footer */
 .footer-box {
 display: inline-block;
 height: 100px;
 margin-left: 20px;
 margin-right: 20px;
 }
 .askus_content_bar .askusbar {
 height: 200px;
 }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
 /* Home */
 
 .title_content {
     font-size: 2.5em;
 }
 
 /* Artist lineup */
 
 .artist-section #artist_all_container {
     min-height: 100vh;
 }
 .artist_grid figure figcaption {
     padding: 0;
 }
 .artist_grid figure figcaption {
     font-size: 1em;
 }
 .artist_grid figure h2 {
     font-size: 9px;
     font-size: .6em;
     font-size: 1vw;
 }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
 .top-bar h2.top-bar__headline {
     font-size: 2.5em;
     padding: 0 20%;
 }
 .top-bar {
     padding: 25px 0px 20px;
 }
}
@media screen and (min-width: 768px) and (max-width: 959px) {

 /* Home */
 
 .title_content {
     font-size: 2em;
 }
 /* artist */
 
 .artist_grid figure figcaption {
     padding: 0px;
 }
 figure.effect-artist p {
     font-size: 10px;
     margin: 2em;
     width: 100%;
 }
 .artist_grid figure figcaption {
     font-size: 16px;
 }
 .artist_grid figure h2 {
     font-size: 9px;
 }
 
}
@media screen and (max-width: 768px) {
         .artist_desc .artistbar .artist-bar {
transform: none;
             
  
}
 .artist_desc .artistbar:nth-of-type(2) .artist-bar{
     display: none;
 }
 #music-wrapper{
     display: none;
 }
 .audiojs .scrubber{
     display: none;
 }
 .audiojs {
 width: auto;
 }
 #disclaimer-container {
     width: 85%;
 }
 /* Home */
 
 .title_content {
     font-size: 1em;
 }
 .section-bottom {
     display: none;
 }
 /* Artist lineup */
 
 .content {
     padding: 0 10px;
     text-align: center;
 }
 figure.effect-artist p {
     font-size: 11px;
 }
 .artist_grid figure {
     display: inline-block;
     float: none;
 }
 .artist_grid figure figcaption {
     font-size: 16px;
 }
 .artist_grid figure h2 {
     font-size: 10px;
 }
 .artist-section .vertical-center {
     height: auto;
 }

}

@media screen and (min-width: 480px) and (max-width: 767px) {
 /* Common */
 
 .top-bar__headline {
     margin: 0 auto;
     font-size: 5em;
     font-weight: 300;
     padding-top: 20px;
     letter-spacing: 5px;
 }
 .top-bar {
     padding: 25px 0px 20px;
 }
 .top-bar h2.top-bar__headline {
     font-size: 2em;
     padding: 0 0%;
 }

}
@media screen and (max-width: 767px) {
 #disclaimer-container h1 {
     font-size: 18px;
 }
 .home-logo {
     width: 200px;
 }
 /* Artist lineup */
 
 .artist-slide-next,
 .artist-slide-prev {
     display: none;
 }

 .artist-slide-name {
     top: auto;
     bottom: 18%;
     padding: 2% 2%;
     height: auto;
     width: 100%;
     text-align: center;
 }
 .artist-slide-details {
     top: auto;
     bottom: 10%;
     background: white;
     padding: 0 2%;
     height: 3.5em;
     width: 100%;
     text-align: center;
     color: #000;
 }
 .artist-slide-name h1 {
     font-size: 1.5em;
 }
 .active.artist-slide div div div {
     display: inline;
 }
 
 /* Footer */
 .footer-box {
 display: block;
 }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) and (orientation: landscape) {
 /* Artist lineup */
 
 .artist_grid figure {
     display: inline-block;
     width: 90%;
 }
 .artist-slide-name {
     bottom: 35%;
 }
 .artist-slide-social{
     display: none;
 }
 .pp_nav,
 .pp_social {
     opacity: 0;
 }
}
@media screen and (max-width: 480px) {
 /* Common */
 
 h3,
 .h3 {
     font-size: 18px;
 }
 .top-bar {
     padding: 25px 0px 20px;
 }
 .top-bar h2.top-bar__headline {
     font-size: 1.3em;
     padding: 0 0%;
     margin: 0 auto;
     font-weight: 300;
     padding-top: 20px;
     letter-spacing: 5px;
 }
 /* Artist lineup */
 
 .artist_grid figure,.normal-scroll .artist_grid figure {
     display: inline-block;
     width: 80%;
    
 }

 .artist_desc .artistbar .artist-bar {
transform: none;
  
}
 .artist_desc .artistbar:nth-of-type(2) .artist-bar{
     display: none;
 }
}
@media screen and (max-width: 400px) {
 .pp_nav,
 .pp_social {
     opacity: 0;
 }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
 .container {
     width: 350px;
 }
}
@media screen and (min-width: 320px) and (max-width: 479px) {

 .control .title {
     font-size: 18px;
 }
 .cd-close {
     width: 30px;
     height: 30px;
 }
 .cd-close::before,
 .cd-close::after {
     height: 2px;
     width: 20px;
 }
 ul#filterOptions {
     width: auto;
     display: table;
 }
 ul#filterOptions li {
     display: block;
     text-align: left;
 }
 .gallery-section #galleryHolder {
     padding-top: 20px;
 }
}